Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
*basexdb*
outputs
LAC_dataProj.proj
Uruguay_dataProj.proj
**/gis/other
**/grids/demeter
**/grids/tethys
**/grids/xanthos
**/grids/xanthosRunsChris/
**/bia
**/dataFiles/localData
**/dataFiles/externalFigures