# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: false
dist: xenial

repos: 
  CRAN: https://cran.rstudio.com
  rforge: http://R-Forge.R-project.org

r_check_args: "--no-build-vignettes --ignore-vignettes"
r_build_args: "--no-build-vignettes --ignore-vignettes"

r_github_packages:
  - r-spatial/lwgeom
    
r_packages:
  - sp
  - rgdal
  - rgeos

warnings_are_errors: false

addons:
  apt:
    source:
      - sourceline: 'ppa:ubuntugis/ppa'
    packages:
      - libgdal-dev
      - libmagick++-dev
      - libudunits2-dev
      - libgeos-dev